  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap');


  :root {
      --primary-color: rgb(85, 3, 3);
      --secondary-color: rgb(92, 67, 67);
  }

  html {
      font-size: 62.5%;
  }

  * {
      outline: none;
      box-sizing: border-box;
  }

  body {
      margin: 0;
      padding: 0;
      background-color: var(--primary-color);
      font-family: 'Open Sans', sans-serif;
      font-size: 2rem;
      line-height: 1.5;
  }


  .container {
      max-width: 64rem;
      margin: 5rem auto;
      background-color: #fff;
      padding: 2rem;
      border-radius: 1rem;
  }

  .img {
      max-width: 4.3rem;
      max-height: 4.3rem;
  }

  form input,
  form label,
  form button {
      display: block;
      width: 100%;
      margin-bottom: 1rem;


  }


  form input {
      font-size: 2.4rem;
      height: 5rem;
      padding: 0 2rem;
      border: 0.1rem solid;
  }

  form input:focus {
      outline: 0.1rem solid var(--primary-color);

  }

  form button {
      border: none;
      background-color: var(--primary-color);
      color: white;
      font-size: 1.8rem;
      font-weight: 700;
      height: 5rem;
      cursor: pointer;
      margin-top: 3rem;
  }

  form button:hover {
      background-color: var(--secondary-color);

  }

  form button:active {
      background-color: rgb(112, 191, 223)
  }

  .paragrafo-resultado,
  .bad {
      background-color: rgb(153, 238, 153);
      padding: 1rem 2rem;
  }

  .bad {
      background-color: rgb(238, 108, 108);
  }

  .grid {
      max-width: 64rem;
      display: flex;
      flex-flow: row wrap;
      margin: 1rem;
  }

  .grid .IMCText {
      align-items: flex-start;
      margin-right: 15rem;

  }

  .grid .ResultadoText {
      align-items: flex-end;
  }

  h1 {
      font-size: 3rem;
  }

  h2 {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
  }

  footer a {
      margin-top: 4rem;
      font-size: 1.8rem;
      display: flex;
      text-decoration: none;
      color: black;
      text-align: center;
  }

  .Instagram img {
      max-width: 1.8rem;
      max-height: 1.8rem;

  }

  @media (max-width: 566px) {
      .grid .IMCText {
          align-items: flex-start;
          margin-right: 10rem;
      }
  }

  @media (max-width: 514px) {
      .grid .IMCText {
          align-items: flex-start;
          margin-right: 7rem;
      }
  }

  @media (max-width: 486px) {
      .grid .IMCText {
          align-items: flex-start;
          margin-right: 2rem;
      }
  }

  @media (max-width: 437px) {
      .grid .ResultadoText {
          margin-left: 1.4rem;
      }

      .grid .IMCText {
          align-items: flex-start;
          margin-right: 0.1rem;
      }
  }

  @media (max-width: 430px) {
      .grid .ResultadoText {
          margin-left: 1.4rem;
      }

      .IMCText .ResultadoText,
      h2,
      p {
          font-size: 2.1rem;
      }

      .mobileCorrection,
      h1,
      p,
      footer div {
          font-size: 2.1rem;
      }
  }

  @media (max-width: 416px) {

      .IMCText .ResultadoText,
      h2,
      p {
          font-size: 1.6rem;
      }

      .mobileCorrection,
      h1,
      p,
      footer div {
          font-size: 1.6rem;
      }
  }

  @media (max-width: 342px) {
      .grid .ResultadoText {
          margin-left: 1.4rem;
      }

      .IMCText .ResultadoText,
      h2,
      p {
          font-size: 1.5rem;
      }

      .mobileCorrection,
      h1,
      p,
      footer div {
          font-size: 1.5rem;
      }
  }

  @media (max-width: 328px) {
      .grid .ResultadoText {
          margin-left: 1rem;
      }

      .IMCText .ResultadoText,
      h2,
      p {
          font-size: 1.5rem;
      }

      .mobileCorrection,
      h1,
      p,
      footer div {
          font-size: 1.5rem;
      }
  }

  @media (max-width: 325px) {

      .IMCText .ResultadoText,
      h2,
      p {
          font-size: 1.3rem;
      }

      .mobileCorrection,
      h1,
      p,
      footer div {
          font-size: 1.3rem;
      }
  }

  @media (max-width: 289px) {
      .grid .ResultadoText {
          margin-left: 0rem;
      }

      .IMCText .ResultadoText,
      h2,
      p {
          font-size: 1.3rem;
      }

      .mobileCorrection,
      h1,
      p,
      footer div {
          font-size: 1.3rem;
      }
  }